build-essential
curl
git
libfreetype6-dev
libpng12-dev
libzmq3-dev
nvidia-modprobe
openjdk-8-jdk
pkg-config
python
python-dev
python-pip
python-setuptools
python-tk
python-yaml
rsync
software-properties-common
unzip
vim
