[Desktop Entry]
Name=Trello
Exec=/home/monsta/Trello-linux-0.1.9
Terminal=false
Type=Application
Icon=/home/monsta/Trello-linux-0.1.9/resources/app/static/Icon.png
